<!-- head_line -->
<!-- appointment -->

<% start_time = appointment.appointment_start.getlocal.strftime('%H:%M') %>
<% end_time = appointment.appointment_end.getlocal.strftime('%H:%M') %>
<% doctor = appointment.doctor %>

<div class="dashboard-call-to-action">
  <h1><%= head_line %></h1>
  <h2>Your appointment runs from <%= start_time %> to <%= end_time %>.</h2>
  <div>
    <% if doctor.avatar.attached? %>
      <%= cl_image_tag doctor.avatar.key, height: 40, width: 40, crop: :fill, class: 'dashboard-big-avatar' %>
    <% end %>

    <%= link_to meet_path, class: 'btn-flat' do %>
      <i class="fas fa-people-arrows"></i> Join Meeting
    <% end %>

    <% if current_user.avatar.attached? %>
      <%= cl_image_tag current_user.avatar.key, height: 40, width: 40, crop: :fill, class: 'dashboard-big-avatar' %>
    <% end %>
  </div>
  <p>Good news: you don't need any 3rd party application for joining the meeting!</p>
</div>
