  
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-undo="enter left move 30px over 0.6s after 0.4s">
                        <h1><strong>Free Your Mind</strong></h1>
                        <p>Connect With our specialists and take Control of Your Life </p>
                        <a href="http://localhost:3000/doctors/" class="main-button-slider">Book Now</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-undo="enter right move 30px over 0.6s after 0.4s">
                        <%# <img src="assets/images/slider-icon.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic"> %>
                         <%= image_tag "mindfulness.svg", class: "rounded img-fluid d-block mx-auto" %>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->


    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12" data-undo="enter left move 30px over 0.6s after 0.4s">
                    <%# <img src="assets/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App"> %>
                    <%= image_tag "video_call.svg", class: "rounded img-fluid d-block mx-auto" %>
                </div>
                <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                    <div class="left-heading">
                        <h5>Talk With The Best specialists From Anywhere, AnyTime.</h5>
                    </div>
                    <div class="left-text">
                        <p>we provide <a href="#"> the best service on market</a>. Clients who live in remote areas or who have limited mobility or limited access to transportation may be more motivated to participate in online therapy. <br><br>
                        Online therapy decreases absences due to poor weather conditions or sickness, allowing clients to participate in therapy on a regular basis.</p>
                        <a href="#about2" class="main-button">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about2">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
                    <div class="left-heading">
                        <h5>From The Comfort Of You Home</h5>
                    </div>
                    <p>Online therapy can be scheduled more frequently, as clients do not have to commute long distances.</p>
                    <ul>
                        <li>
                            <%# <img src="assets/images/about-icon-01.png" alt=""> %>
                            <%= image_tag "about-icon-01.png" %>
                            <div class="text">
                                <h6>Increased progress</h6>
                                <p> Since online therapy provides more intense therapy, it can accelerate progress.</p>
                            </div>
                        </li>
                        <li>
                            <%# <img src="assets/images/about-icon-02.png" alt=""> %>
                            <%= image_tag "about-icon-02.png" %>
                            <div class="text">
                                <h6>Better access to specialists</h6>
                                <p>Online therapy can allow individuals in remote areas to get help from specialists who may not be available in their geographic location.</p>
                            </div>
                        </li>
                        <li>
                            <%# <img src="assets/images/about-icon-03.png" alt=""> %>
                            <%= image_tag "about-icon-03.png" %>
                            <div class="text">
                                <h6>Psychological comfort</h6>
                                <p>Online therapy can help with eliminating the social stigma related to receiving mental counseling or other therapy.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-undo="enter right move 30px over 0.6s after 0.4s">
                    <%# <img src="assets/images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App"> %>
                    <%= image_tag "home.svg", class: "rounded img-fluid d-block mx-auto" %>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Footer Start ***** -->
    
    
    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>
