
<div class="banner" style="background-image:linear-gradient(#0a00ff85,rgb(252 252 252 / 40%)), url(https://images.unsplash.com/photo-1580121213375-c0ac4d96b1bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1 class="doctors_title">Take a breath with one of our <strong>Specialist</strong></h1>
    <p>We have gathered World class specialist to guide you through your journey</p>

  </div>
</div>

<div class="position-relative" style="height: 1vh; width: 300vw; left: -109vw;">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>
  </div>
</div>


<div class="container up-container pt-4">
  <div class="row">
    <div class="col-4">
      <div id="div-specializations" class="card shadow p-4 no-border border-radius-8">
        <p class='text-green text-uppercase'>Total Specialists</p>
        <h2><%= @doctors.size %></h2>
      </div>
    </div>

    <div class="col-8 radius-8">
      <div class="isotope-grid">
        <% @doctors.each do |doctor_hash| %>
          <% doctor = doctor_hash[:doctor] %>
          <% specializations = doctor_hash[:specializations] %>
          <% rating = doctor_hash[:rating] %>
          <% isotope_grid_item_class = "isotope-grid-item #{specializations.join(' ')}" %>
          <div class="<%= isotope_grid_item_class %>">
            <div class="doctor-card-index shadow p-4 mt-0">
              <%= link_to doctor_path(doctor), class: 'doctor-card-index-link' do %>
                <span></span>
              <% end %>
              <div class="doctor-card-avatar-rating-index">
                <% if doctor.avatar.attached? %>
                  <%= cl_image_tag doctor.avatar.key, crop: :fill %>
                <% end %>
                <%= render 'shared/rating', rating: rating %>

              </div>
              <div class="doctor-card-infos-index">
                <h2 class='text-green'>Dr. <%= "#{doctor.first_name} #{doctor.last_name}" %></h2>
                <p><%= doctor.about %></p>
                <h6 class="text-muted text-uppercase mt-4">Specializations</h6>
                <ul class='d-flex'>
                  <% specializations.each do |specialization| %>
                    <li class='badge badge-primary mr-2'><%= specialization %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>












