
<div class="banner" style="background-image:linear-gradient(160deg, #0093E9 0%, #80D0C7 100%), url(https://images.unsplash.com/photo-1580121213375-c0ac4d96b1bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container d-flex">

    <% if @doctor.avatar.attached? %>
      <%= cl_image_tag @doctor.avatar.key, class: "doctors_image avatar-xl" %>
    <% end %>
    <div class='ml-3'>
      <h1 class="doctors_title">Dr. <%= "#{@doctor.first_name} #{@doctor.last_name}" %></h1>
      <ul class='d-flex mt-3'>
        <% specializations = JSON.parse(@doctor.specializations) %>
        <% specializations.each do |specialization| %>
          <li class='badge badge-tag-soft mr-2'><%= specialization %></li>
        <% end %>
      </ul>
      <%= render 'shared/rating', rating: @doctor.average_rating %>

    </div>
  </div>
</div>

<!-- background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); -->


<div class="position-relative" style="height: 1vh; width: 300vw; left: -109vw;">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>
  </div>
</div>


<div class="container mt-n10 bg-white border-radius-8">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="doctor-card doctor-card-infos p-4 rounded">

        <p>
          <%= @doctor.about %>
        </p>



      </div>
    </div>

    <div class="col-12 col-lg-4 border-radius-8">
      <div class="Calendar-card center-align p-4 border-radius-8 flex-column">
        <div class="d-flex justify-content-center ml-n5 mb-2">
          <h4 class="text-blueish mr-2">Book Here</h4>
          <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgetdrawings.com%2Fcliparts%2Fadvanced-clipart-13.png&f=1&nofb=1" alt="" class="arrow">
        </div>
        <%= render 'shared/flatpickr',
          appointments_white_list: @appointments_white_list,
          doctor: @doctor,
          appointment: @appointment %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="review-wrapper">
        <h1 class= "border-bottom-blue mb-4"><%= @doctor.first_name %>'s Reviews</h1>

            <% @reviews.each do |review| %>
              <div class="review-card p-4">
                <div class="review-info d-flex justify-content-between">
                  <div class='d-flex'>
                    <% if review.user.avatar.attached? %>
                      <%= cl_image_tag review.user.avatar.key, height: 40, width: 40, crop: :fill %>
                    <% end %>
                    <div class='ml-3'>
                      <p class='text-blue text-bold opacity-70' style='font-size: 18px;'><%= review.user.first_name %></p>
                      <%= render 'shared/rating', rating: review.rating %>

                    </div>
                  </div>
                  <p class='text-muted'><%= review.date.strftime('%A, %b %d') %></p>
                </div>

                <p class='mt-3'><%= review.content %></p>
              </div>
            <% end %>

      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="selectTimeSlotCenteredModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-bold text-blueish" id="exampleModalLongTitle">
         Select Your Preferred Time
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for [@doctor, @appointment] do |f| %>
          <div class='d-grid grid-calendar p-4'>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

