<% unless @appointment.nil? %>
  <% start_time = @appointment.appointment_start.getlocal.strftime('%H:%M') %>
  <% end_time = @appointment.appointment_end.getlocal.strftime('%H:%M') %>
<% end %>

<div class="banner" style="background-image:linear-gradient(#0a00ff85,rgb(252 252 252 / 40%)), url(https://images.unsplash.com/photo-1580121213375-c0ac4d96b1bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <% if current_user.doctor? %>
      <h1 class="doctors_title">Hello, Dr. <%= current_user.doctor.full_name %>!</h1>
    <% else %>
      <h1 class="doctors_title">Hello, <%= current_user.full_name %>!</h1>
    <% end %>
    <% unless @appointment.nil? %>
      <p>Your appointment for today runs from <%= start_time %> to <%= end_time %>.</p>
    <% else %>
      <p>You don't have any appointments for today, but check your future appointments to see what's ahead.</p>
    <% end %>
  </div>
</div>

<div class="position-relative" style="height: 1vh; width: 300vw; left: -109vw;">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>
  </div>
</div>


<ul class="nav nav-tabs" id="dashboard-tab-items" role="tablist">
  <% second_tab_link_class = @appointment.nil? ? "nav-link active" : "nav-link" %>

  <% if current_user.doctor? %>
    <!-- tabs for doctor users -->
    <% unless @appointment.nil? %>
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="current-appointment-tab" data-toggle="tab" href="#current-appointment" role="tab" aria-controls="home" aria-selected="true">
          Now: Appointment with <%= @appointment.user.full_name %>
        </a>
      </li>
    <% end %>

    <li class="nav-item" role="presentation">
      <a class="<%= second_tab_link_class %>" id="future-appointments-tab" data-toggle="tab" href="#future-appointments" role="tab" aria-controls="profile" aria-selected="<%= @appointment.nil? %>">
        My Future Appointments
      </a>
    </li>
  <% else %>
    <!-- tabs for client users -->
    <% unless @appointment.nil? %>
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="current-appointment-tab" data-toggle="tab" href="#current-appointment" role="tab" aria-controls="home" aria-selected="true">
          Now: Appointment with Doctor <%= @appointment.doctor.full_name %>
        </a>
      </li>
    <% end %>

    <li class="nav-item" role="presentation">
      <a class="<%= second_tab_link_class %>" id="past-appointments-tab" data-toggle="tab" href="#past-appointments" role="tab" aria-controls="profile" aria-selected="<%= @appointment.nil? %>">
        My Past Appointments
      </a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link" id="future-appointments-tab" data-toggle="tab" href="#future-appointments" role="tab" aria-controls="profile" aria-selected="false">
        My Future Appointments
      </a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="contact" aria-selected="false">
        My Reviews
      </a>
    </li>
  <% end %>
</ul>

<% second_tab_class = @appointment.nil? ? "tab-pane fade show active" : "tab-pane fade" %>

<div class="tab-content" id="dashboard-tab-content">
  <% if current_user.doctor? %>
    <!-- doctors' contents -->
    <% unless @appointment.nil? %>
      <div class="tab-pane fade show active" id="current-appointment" role="tabpanel" aria-labelledby="home-tab">
        <%= render 'shared/dashboard_appointment',
          head_line: "Your appointment with #{@appointment.user.full_name} is open right now.",
          appointment: @appointment %>
        </div>
    <% end %>

    <div class="<%= second_tab_class %>" id="future-appointments" role="tabpanel" aria-labelledby="profile-tab">
      <%= render 'shared/dashboard_card', appointments: @future_appointments, review_allowed: false %>
    </div>
  <% else %>
    <!-- users' content -->
    <% unless @appointment.nil? %>
      <div class="tab-pane fade show active" id="current-appointment" role="tabpanel" aria-labelledby="home-tab">
        <%= render 'shared/dashboard_appointment',
          head_line: "Yay! Your appointment with Dr. #{@appointment.doctor.full_name} is open right now!",
          appointment: @appointment %>
      </div>
    <% end %>

    <div class="<%= second_tab_class %>" id="past-appointments" role="tabpanel" aria-labelledby="profile-tab">
      <%= render 'shared/dashboard_card', appointments: @past_appointments, review_allowed: true %>
    </div>

    <div class="tab-pane fade" id="future-appointments" role="tabpanel" aria-labelledby="profile-tab">
      <%= render 'shared/dashboard_card', appointments: @future_appointments, review_allowed: false %>
    </div>

    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="contact-tab">
      <ul>
        <% @reviews.each do |review| %>
          <li>
            <p><%= review.date %></p>
            <p><%= review.doctor.full_name %></p>
            <p><%= review.content %></p>
            <%= render 'shared/rating', rating: review.rating %>
            <%= link_to 'Edit', doctor_review_path(review.doctor, review), method: 'patch' %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
 </div>
